.navBar_container {
    position: absolute;
    padding: 10px 20px;

}

.navBar_container__button {
    padding: 10px 20px;
    color: var(--font-color);
    background-color: var(--secondary-background-color);
    border: 1px solid var(--font-color);
}